/*HTML elements*/

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 2.5em;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    position: relative;
}

footer {
    background-color: #f8f9fa;
    padding-top: 30px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

header {
    background-color: #181818;
    color: white;
    padding: 1.5em;
    text-align: center;
}

button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
}

button:hover {
    background-color: #3d3d3d;
}

button:disabled {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
    border: 1px solid #ced4da;
}

video {
    width: 100%;
    max-width: 1200px;
    height: auto;
}

/* Classes */

.spinner {
    border: 8px solid #f3f3f3; /* Light grey background */
    border-top: 6px solid #000; /* Black spinner */
    border-radius: 50%; /* Makes it circular */
    width: 60px; /* Width of the spinner */
    height: 60px; /* Height of the spinner */
    animation: spin 1s linear infinite; /* Animation settings */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.timestamp-container {
    display: flex;
    height: 32px;
    gap: 6px;
    margin: 8px;
}

.timestamp-block {
    display: flex;
    flex-direction: column;
}

.ffmpeg-btn-container {
    position: relative;
}

.ffmpeg-btn {
    font-size: 20px;
    width: 62px;
}

.btn-icon {
    width: 52px;
    position: absolute;
    opacity: 0;
    transition:
        opacity 0.1s ease,
        top 0.1s ease;
    pointer-events: none;
}

.ffmpeg-btn-container:hover .btn-icon {
    opacity: 1;
}

.div-section {
    margin-top: 16px;
    margin-bottom: 16px;
}

/* IDs */

#video-player-container {
    display: none;
    flex-direction: column;
}

#ffmpeg-container {
    display: none;
}

#inference-container {
    display: none;
}

#loading-spinner-container {
    display: none;
}

#ffmpeg-btn-wrapper {
    pisition: relative;
}

#show-btn-container {
    display: flex;
    gap: 10px;
}

#speedup-factor-input {
    width: 38px;
}

#korosensei-icon {
    top: -70%;
}

#ubel-icon {
    top: -130%;
}
