/*HTML elements*/
main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 2.5em;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    position: relative;
}

footer {
    background-color: #f8f9fa;
    padding-top: 30px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

header {
    background-color: #181818;
    color: white;
    padding: 1.5em;
    text-align: center;
}

button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
}

button:hover {
    background-color: #3d3d3d;
}

button:disabled {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
    border: 1px solid #ced4da;
}

video {
    width: 100%;
    max-width: 1200px;
    height: auto;
}

/* Classes */
.spinner {
    border: 8px solid #f3f3f3;
    border-top: 6px solid #000;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.timestamp-container {
    display: flex;
    height: 32px;
    gap: 6px;
    margin: 8px;
}

.timestamp-block {
    display: flex;
    flex-direction: column;
}

.ffmpeg-btn-container {
    position: relative;
}

.ffmpeg-btn {
    font-size: 20px;
    width: 62px;
}

.btn-icon {
    width: 52px;
    position: absolute;
    left: 10%;
    opacity: 0;
    transition:
        opacity 0.1s ease,
        top 0.1s ease;
    pointer-events: none;
}

.ffmpeg-btn-container:hover .btn-icon {
    opacity: 1;
}

.div-section {
    margin-top: 16px;
    margin-bottom: 16px;
}

.iframe-container {
    position: relative;
    padding-bottom: 31.5%;
    max-width: 100%;
    overflow: hidden;
}

/* Shape styles */
.circle,
.cross {
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10;
}

.circle {
    width: 14px;
    height: 14px;
    background-color: #00ff00;
    border-radius: 50%;
}

.cross {
    width: 20px;
    height: 20px;
}

.cross::before,
.cross::after {
    content: "";
    position: absolute;
    background-color: #ff0000;
    width: 20px;
    height: 4px;
    top: 50%;
    left: 0;
    transform-origin: center;
}

.cross::before {
    transform: translateY(-50%) rotate(45deg);
}

.cross::after {
    transform: translateY(-50%) rotate(-45deg);
}

/* Control wrapper styles */
.controls-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

/* Image preview styles */
.images-grid {
    width: 300px;
    margin-top: 10px;
}

.iframe-container {
    position: relative;
    width: 1000px;
    height: 50px;
}

/* IDs */

#toggle-iframe-btn {
    margin-bottom: 15px;
    font-size: 12px;
    padding: 8px;
    width: auto;
    transition: all 0.3s ease;
}

#toggle-iframe-btn::after {
    content: "Open ▼";
}

#toggle-iframe-btn.active::after {
    content: "Close ▲";
}

#video-player-container {
    display: none;
    flex-direction: column;
}

#ffmpeg-container {
    display: none;
}

#inference-container {
    display: none;
    flex-direction: column;
    gap: 10px;
}

#loading-spinner-container {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
    width: 100%;
    padding: 20px 0;
}

#ffmpeg-btn-wrapper {
    position: relative;
}

#show-btn-container {
    display: flex;
    gap: 10px;
}

#speedup-factor-input {
    width: 38px;
}

#korosensei-icon {
    top: -70%;
}

#ubel-icon {
    top: -130%;
}

#input-video {
    margin-top: 12px;
}

#download-btn {
    display: none;
    margin-top: 10px;
}

#trim-btn {
    margin-top: 22px;
}

#labels-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#btn-labels-container {
    display: flex;
    gap: 10px;
}

#inference-video-btn {
    padding: 8px 16px;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    width: 250px;
}

#seg-add,
#seg-excl {
    min-width: 120px;
    padding: 8px 16px;
}

#img-preview {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
    display: none;
}

#input-img {
    margin-bottom: 10px;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    .iframe-container {
        padding-bottom: 150%;
    }
}

#show-segment-btn {
    opacity: 0.5;
    cursor: not-allowed;
}
