.DS_store
.ropeproject/

frontend/.env
frontend/node_modules

local/sam2seg/src
local/sam2seg/frames
local/sam2seg/envv
local/sam2seg/static
local/sam2seg/img
local/sam2seg/video
local/sam2seg/app.log
local/sam2seg/.dockerignore
local/sam2seg/configs
local/sam2seg/__pycache__

backend/.env
backend/tmp

todo.md

old/
