body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #181818;
    color: white;
    padding: 1.5em;
    text-align: center;
}

main {
    padding: 2.5em;
}

#video-btn-div {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #3d3d3d;
    padding: 1.2em;
    border-radius: 8px;
}

#btns-div {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
    width: 100px;
    gap: 10px;
}

button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3d3d3d;
}

video {
    width: 100%;
    max-width: 1200px;
    height: auto;
}

.video-container {
    position: relative;
    display: inline-block;
}

#shapes-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#shapes-container div {
    position: absolute;
    width: 8px;
    height: 8px;
    transform: translate(-50%, -50%);
}

#shapes-container .circle {
    border-radius: 50%;
    background-color: green;
    border: 2px solid black;
    outline-style: solid;
    outline-color: white;
}

#shapes-container .square {
    background-color: red;
    border: 2px solid black;
    outline-style: solid;
    outline-color: white;
}

#seg-add {
    background-color: green;
}
#seg-excl {
    background-color: red;
}

.images-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.images-grid img {
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
    object-fit: contain;
}

#input-video {
    margin-bottom: 10px;
}

#input-img {
    margin-bottom: 10px;
}

#inference-video-btn {
    width: 200px;
    height: 100px;
    font-weight: bold;
    font-size: 20px;
}

.spinner {
    display: none;
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #000000;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-text {
    text-align: center;
    font-weight: bold;
    color: #000000;
    margin-top: 10px;
    display: none;
}

#inf-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#video-player {
    display: none;
}

#inference-video-btn:disabled {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
    border: 1px solid #ced4da;
}
